@import "../../style/respond-to.scss";
.pomodoro-status-bar {
  background-color: #161932;
  width: 330px;
  height: 40px;
  @include respond-tablet($at-minimum: true) {
    width: 500px;
    height: 60px;
  }
  border-radius: 26.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  &__item {
    color: #d7e0ff;
    font-weight: bold;
    font-size: 14px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.pomodoro-status-bar__item--active {
      border-radius: 30px;
      color: #1e213f;
      // background-color: orange;
    }
  }
}
