<div class="pomodoro-timer">
  <svg class="progress-ring">
    <circle
      #progressCircle
      class="progress-ring__circle"
      [class]="getColorClass('stroke')"
      stroke-width="8"
      fill="transparent"
      [attr.r]="progressDims.r"
      [attr.cx]="progressDims.cxY"
      [attr.cy]="progressDims.cxY"

    />
    <text
      x="50%"
      y="50%"
      text-anchor="middle"
      fill="#D7E0FF"
      font-size="0px"
      dy=".3em"
      class="progress-ring__time-text"
      [class]="fontClass"
    >
      {{(timerService.change | async)?.display}}
    </text>
    <text
      x="50%"
      y="75%"
      text-anchor="middle"
      font-size="30px"
      dy=".3em"
      id="toggleButton"
      class="progress-ring__btn-text"
      [class]="getColorClass('fill') + fontClass"
      (click)="startTime()"
    >
      {{buttonText}}
    </text>
  </svg>
</div>

